---
import Layout from '../layouts/PageLayout.astro';

import Header from '../components/widgets/Header.astro';
import Hero from '../components/widgets/Hero.astro';
import Content from '../components/widgets/Content.astro';
import CallToAction from '../components/widgets/CallToAction.astro';
import Features3 from '../components/widgets/Features3.astro';
import Testimonials from '../components/widgets/Testimonials.astro';
import Steps from '../components/widgets/Steps.astro';
import anna from '../assets/images/anna.jpg';
import katya from '../assets/images/katya.jpg';
import cats_college from '../assets/images/cats-college.jpg';
import converse from '../assets/images/converse.jpg';
import lisa from '../assets/images/Lisa.png';
import anna_dekr from '../assets/images/anna_dekr.png';
import vrezho from '../assets/images/Vrezho.png';
import olga from '../assets/images/olga.jpg';
import eef from '../assets/images/eef.jpg';
import hse from '../assets/images/hse.jpg';
import HSE2 from '../assets/images/HSE2.jpg';
import diploma from '../assets/images/diploma.jpg';
import ranhigs from '../assets/images/ranhigs.png';
import olimpiad_1 from '../assets/images/olimpiad_1.png';
import olimpiad_2 from '../assets/images/olimpiad_2.png';
import ielts from '../assets/images/Ielts_Gurkovich.jpg';
import { getPermalink } from '../utils/permalinks';
import Features from "../components/widgets/Features.astro";
import Features2 from "../components/widgets/Features2.astro";
import Note from "../components/widgets/Note.astro";

const metadata = {
  title: 'Анна Гуркович',
};

const certificates = {
  cats_college,
  converse,
  eef,
  hse,
  HSE2,
  ielts,
  diploma,
  ranhigs,
  olimpiad_1,
  olimpiad_2
};
---

<Layout metadata={metadata}>
  <Fragment slot="announcement"></Fragment>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Обо Мне', href: '#about' },
        { text: 'Образование', href: '#education' },
        { text: 'Преимущества', href: '#features' },
        { text: 'Виды занятий', href: '#features2' },
        { text: 'Сертификаты', href: '#certificates' },
        { text: 'Отзывы', href: '#testimonials' },
      ]}
      actions={[
        {
          text: 'Свяжись со мной!',
          href: 'https://t.me/annettgr',
        },
      ]}
      isSticky
      showToggleTheme
    />
  </Fragment>

  <!-- Hero2 Widget ******************* -->

  <Hero
    id="hero"
    title="Анна Гуркович"
    tagline="Онлайн репетитор английского языка"
    actions={[{ variant: 'primary', text: 'Свяжись со мной!', href: getPermalink('https://t.me/annettgr') }]}
  >
    <Fragment slot="subtitle">
      <span class="text-pretty">
        Преподаю комфортный английский язык. Мои студенты поступают в зарубежные ВУЗы, проходят собеседования в международные компании и изучают мир через английский!
      </span>   
    </Fragment>
  </Hero>

  <!-- Content Widget **************** -->

  <Content
    id="about"
    columns={3}
    items={[
      {
        icon: 'tabler:brand-instagram',
        callToAction: {
          target: '_blank',
          text: 'Instagram',
          href: getPermalink('https://www.instagram.com/classenglish_anna?igsh=YjdsdDZtd3FydmFv&utm_source=qr'),
        },
      },
      {
        icon: 'tabler:brand-whatsapp',
        callToAction: {
          target: '_blank',
          text: 'WhatsApp',
          href: getPermalink('https://wa.me/79140720503'),
        },
      },
      {
        icon: 'tabler:brand-telegram',
        callToAction: {
          target: '_blank',
          text: 'Telegram',
          href: getPermalink('https://t.me/annettgr'),
        },
      },
    ]}
    image={{
      src: anna,
      alt: 'Colorful Image',
      loading: 'eager',
    }}
  >
    <Fragment slot="content">
      <h2 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Обо мне</h2>
      <p>
        Лингвист, преподаватель английского языка. Изучаю английский язык уже более 15 лет. Помогу эффективно выучить английский язык без уроков по типу «школы». Интерактивные занятия и индивидуальный подход к каждому ученику.
      </p>
      <br>
      <p>
        — Являюсь победителем лингвистических олимпиад <br>
        — Проходила обучение в ВУЗах Англии и США <br>
        — IELTS С2 (8.0)
      </p>
      <br>
      <p>
        Мои ученики поступают в ВУЗы Европы и США, выигрывают олимпиады и много путешествуют!
        А ещё я очень люблю английский язык и уверена, что изучение языка может быть интересным!
      </p>
      </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    id="education"
    title="Мой проффесиональный путь"
    items={[
      {
        title: `Translation and Interpreting <br /> <span class="font-normal">Universidad Autónoma, Барселона</span> <br /> <span class="text-sm font-normal">2022 - 2023</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Иностранные языки и межкультурная коммуникация <br /> <span class="font-normal">Высшая Школа Экономики, Москва</span> <br /> <span class="text-sm font-normal">2019 - 2023</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Oxbridge Programme <br /> <span class="font-normal">CATS College Cambridge, Англия</span> <br /> <span class="text-sm font-normal">2017</span>`,
        icon: 'tabler:school',
      },
      {
        title: `Advanced English <br /> <span class="font-normal">Yale University, Англия</span> <br /> <span class="text-sm font-normal">2016 - 2017</span>`,
        icon: 'tabler:school',
      },
      {
        title: `International Speaking and Listening <br /> <span class="font-normal">Trinity University, Англия</span> <br /> <span class="text-sm font-normal">2015 - 2016</span>`,
        icon: 'tabler:school',
      },
    ]}
    classes={{ container: 'max-w-3xl' }}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    id="features"
    title="Преимущевства моих занятий"
    subtitle="Почему тебе будет комфортно."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'Индивидуальный подход',
        description: 'Каждый урок адаптируется под индивидуальные потребности, цели и интересы студента.',
      },
      {
        title: 'Живой Английский',
        description: 'Обсуждаем важные трендовые темы, а не скучные из учебника. Например, инфлюенсеров, тренды, психологию, моду, нутрициологию.',
      },
      {
        title: 'Гибкое расписание',
        description: 'Уроки могут быть запланированы в удобное для студента время.',
      },
      {
        title: 'Интерактивные уроки',
        description: 'Интерактивные и увлекательные уроки, на которых мы обсуждаем самые актуальные темы.',
      },
      {
        title: 'Фокус на коммуникации',
        description: 'Помогаю повысить уверенность в себе, расширить кругозор и преодолеть языковой барьер.',
      },
      {
        title: 'Подготовка к экзаменам',
        description: 'Представляю экспертную подготовку к экзаменам на знание английского языка, таким как IELTS и TOEFL.',
      },
      {
        title: 'Комфорт',
        description: 'Бережно внедряю английский в вашу жизнь, обеспечиваю поддержку и мотивацию.',
      },
      {
        title: 'Постоянная обратная связь',
        description: 'Всегда на связи, даже в нерабочее время, помогу и проконсультирую с английским.',
      },
      {
        title: 'Путешествия и культура',
        description: 'Живу в Испании, много путешествую (>16 стран) и делюсь своим опытом.',
      },
    ]}
  />

  <Features2
    id="features2"
    title="Виды занятий"
    subtitle="Выбери подходящий формат для себя."
    columns={3}
    defaultIcon="tabler:point-filled"
    items={[
      {
        title: 'General English (60 минут)',
        description: 'Занятия включают в себя отработку следующих навыков:<br>• аудирование и чтение<br>• расширение словарного запаса<br>• грамматика и письмо<br>• говорение, где мы отрабатываем пройденные темы</li></ul>',
      },
      {
        title: 'Business English/English for IT (60 минут, B1+)',
        description: 'Английский для работы, переговоров, собеседований. Занятия с упором на лексику в сфере маркетинга, менеджмента, программирования. Также возможна подготовка к собеседованиям/переговорам.',
      },
      {
        title: 'IELTS preparation (60-90 минут)',
        description: 'Занятия по подготовке к международному экзамену IELTS. Расскажу про все tips and tricks как сдать на высший балл!',
      },
      {
        title: '«Бережная» подготовка к ОГЭ (60 минут)',
        description: 'Помогу не только сдать на 5 и развить все лингвистические навыки, но и подготовлю морально. В этот непростой период важно найти поддержку на занятиях🫂',
      },
      {
        title: 'Speaking club (индивидуально и в группах)',
        description: 'Занятия, на которых мы обсуждаем самые актуальные темы, основываясь на статьи, видео, новости из англоязычных источников. Никакой скучной теории и учебников. Много глубоких разговоров, размышлений и смеха. Но не забудем про грамматику и вокабуляр!',
      },
      {
        title: 'Прочие консультации',
        description: 'А также помогу составить мотивационные письма, написать эссе в ВУЗы мечты, подготовиться к всероссийским олимпиадам и публичным выступлениям!',
      }]}
  />
  <Note/>

  <!-- Content Widget **************** -->
  <Content
    id="certificates"
    title="Сертификаты и дипломы"
    subtitle="Свидетельства о прохождении курсов и обучения."
    isReversed
    items={[
      {
        title: 'Диплом высшего образования с отличием.',
        description:
          '2019 - 2023гг.',
      },
    ]}
    image={{
      src: certificates.diploma,
      alt: 'Higher School of Economics',
    }}
    callToAction={{
      target: '_blank',
      text: 'Перейти на страницу программы',
      icon: 'tabler:chevron-right',
      href: 'https://www.hse.ru/ba/lang/',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Диплом высшего образования: <br /><span class="text-2xl">Высшая Школа Экономики</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->
  <Content
    isReversed
    items={[
      {
        title: 'Удостоверение о повышении квалификации. ',
        description:
          '2024г.',
      },
    ]}
    image={{
      src: certificates.HSE2,
      alt: 'Higher School of Economics',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Удостоверение: <br /><span class="text-2xl">Высшая Школа Экономики</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Сертификат IELTS',
        description: `2022 г.`,
      },

    ]}
    image={{
      src: certificates.ielts,
      alt: 'IELTS',
    }}
    callToAction={{
      target: '_blank',
      text: 'Перейти на страницу IELTS',
      icon: 'tabler:chevron-right',
      href: 'https://ielts.org/',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        IELTS: <br /><span class="text-2xl">International English Language Testing System</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>
  
  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Победитель Олимпиады школьников по английскому языку.',
        description: `2018 г.`,
      },

    ]}
    image={{
      src: certificates.olimpiad_1,
      alt: 'Olympiad Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Диплом первой степени: <br /><span class="text-2xl">Межрегиональная олимпиада школьников "Евразийская лингвистическая олимпиада"</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Призер Олимпиады школьников по английскому языку.',
        description: `2018 г.`,
      },

    ]}
    image={{
      src: certificates.olimpiad_2,
      alt: 'Olympiad Image 2',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Диплом второй степени: <br /><span class="text-2xl">Межрегиональная олимпиада школьников "Высшая проба"</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Диплом III степени.',
        description: '2023 г.'
      },
    ]}
    image={{
      src: certificates.hse,
      alt: 'Olympiad Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Высшая лига, олимпиада студентов и выпускников ВШЭ
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Благодарственное письмо за организацию Восточного экономического форума (координатор международного отдела и переводчик)',
        description:
          '2019 г.',
      },
    ]}
    image={{
      src: certificates.eef,
      alt: 'Easter Economic Forum Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Перейти на страницу ВЭФ',
      icon: 'tabler:chevron-right',
      href: 'https://forumvostok.ru/',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Восточный Экономический Форум: <br /><span class="text-2xl">г. Владивосток</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Призер отборочного этапа олимпиады школьников РАНХиГС по предмету английский язык.',
        description: `2018 г.`,
      },
    ]}
    image={{
      src: certificates.ranhigs,
      alt: 'Ranhigs Olympiad',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        РАНХиГС: <br /><span class="text-2xl">Олимпиада школьников по английскому языку</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent={true}
    items={[
      {
        title: 'Сертификат участника курса английского языка для джуниор учеников в Йельском университете.',
        description: `2016 - 2017 гг.`,
      },
    ]}
    image={{
      src: certificates.converse,
      alt: 'Converse Image',
    }}
    callToAction={{
      target: '_blank',
      text: 'Перейти на страницу университета',
      icon: 'tabler:chevron-right',
      href: 'https://www.yale.edu/',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Yale University: <br /><span class="text-2xl">Junior English course by Converse Internation School of Languages</span>
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Testimonials Widget *********** -->

  <Testimonials
    id="testimonials"
    title="Отзывы учеников"
    subtitle="Что мои ученики говорят обо мне."
    testimonials={[
      {
        testimonial: `Анна Константиновна отличный преподаватель, очень понравилось наше занятие в формате “Speaking Club”. Анна помогла мне подготовиться к экзамену по английскому языку в университете. На нашем уроке мы смоделировали возможные диалоги, которые могут попасться на экзамене. Особое внимание Анна Константиновна уделила разбору грамматических и фонетических ошибок, помогла разговориться. Я осталась довольна уроком, в будущем продолжу временные занятия с данным педагогом по необходимости:)`,
        name: 'Елизавета',
        job: 'Студент МГУ',
        image: {
          src: lisa,
          alt: 'Elisaveta Image',
        },
      },
      {
        testimonial: `Хочу выразить огромную благодарность Анне Константиновне, как отличному преподавателю. Анна очень компетентная в своем деле. Уроки проходят в удобном формате, включают в себя и развговорную речь, грамматику,аудирование. Анна сама определяет Ваш уровень и подбирает соответсвующую методику, которая необходима Вам , учитывая и ваши желания. Всеми необходимыми материалами она снабжает сама. Атмосфера на занятиях дружественная. Мне доставляет огромное удовольствие заниматься , а главное есть результат и прогресс. Спасибо большое.`,
        name: 'Анна',
        job: 'Экономист',
        image: {
          src: anna_dekr,
          alt: 'Anna',
        },
      },
      {
        testimonial: `Цель наших занятий с Анной было повторение материала к IELTS за максимально короткий срок. Могу сказать, что Анна справилась с этой задачей отлично. Изучение прошло в приятной дружелюбной обстановке. Более того, удивило, что за одно занятие я узнал больше секретов сдачи на 7+, чем на групповых курсах подготовки к IELTS. Спасибо Вам.`,
        name: 'Вреж',
        job: 'Программист в логистической компании',
        image: {
          src: vrezho,
          alt: 'Vrezh Image',
        },
      },
      {
        testimonial: `Anna is a very good and competent teacher. She is comfortable to work with and communicate with. Every lesson we speak English is a great practice. Anna also collected high-quality and understandable presentations with useful materials. She explains the material very patiently and intelligibly, so that everything becomes clear. As a result, classes are the perfect combination of business and pleasure!`,
        name: 'Ольга',
        job: 'Студент ВШЭ',
        image: {
          src: olga,
          alt: 'Olga Image',
        },
      },
      {
        testimonial: `I really enjoyed studying with you. I see the progress after our classes. 
Your techniques and experience in tutting are great and thanks to them lessons were very interesting.I loved that every single lesson we were doing different things(from grammar to talking about films and every day life). I never felt bored or smth like that during our classes.
By the way, our preparation for ОГЭ helped me so much, so exam went excellent and my mark is 5. And this preparation wasn’t only about the exam, you prepared me morally and i wasn’t stressed out during the exam.
To be honest, i’m so glad that i found you as a tutor because our lessons were wonderful and felt like talking with a friend + progressive studying at the same time.
Thank you`,
        name: 'Екатерина',
        job: 'Ученица 9 класса',
        image: {
          src: katya,
          alt: 'Katya Image',
        },
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Запись на консультацию"
    subtitle="Записывайся на бесплатное пробное занятие - консультацию, где мы познакомимся и обсудим план наших занятий."
    actions={[
      {
        variant: 'primary',
        text: 'Свяжись со мной!',
        href: 'https://t.me/annettgr',
      },
    ]}
  />

</Layout>
